---
interface Props {
    src: string;
    title?: string;
    href?: string;
    alt?: string;
}
const { src, href, title, alt } = Astro.props;
---

{href ? <a href={href}><img src={src} title={title ?? alt} alt={alt} /></a> : <img src={src} title={title ?? alt} alt={alt} />}