---
interface Props {
	title: string;
	description?: string;
	image?: ImageMetadata;
}

const { title, description, image } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        {image ? <meta property="og:image" content={image?.src} /> : <></>}
        <meta property="og:description" content={description}>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchsia.min.css"
        />
        <link rel="icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <main class="container">
            <slot />
        </main>
    </body>
</html>
